<!DOCTYPE html>
<html lang="en">
<body>


    <div class="columns">
        <div class="aboutustext">
            <h1>Welcome to Uni Time a schedule application</h1><br />
            <h3>
                Hello and welcome <br />
                
                Upcoming exams / classes to display here once logged in<br />

            </h3>


            <!--<div class="columns">
                <div class="aboutustext">
                    <h1>Login</h1>
                </div>-->

                @*<p class="Login01">
                    <label class="usernamepassword" for="">Username:</label><br>
                    <input type="text" name="username" id="username">
                </p>
                <p class="Login01">
                    <label for="text">Password:</label><br>
                    <input type="password" name="password" id="password">
                </p>
                <p>
                    <a class="btn-primary">Login</a>
                </p>
                <p>
                    <a class="btn-primary">Register</a>
                </p>*@




            <!--</div>-->



    </div>




</body>

</html>