<div class="text-center">
    <h1>Exam Timetable</h1>

</div>
<div class="timetable">
    <div class="week-names">
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div class="weekend">Saturday</div>
        <div class="weekend">Sunday</div>
    </div>
    <div class="time-interval">
        <div>8:00 - 10:00</div>
        <div>10:00 - 12:00</div>
        <div>12:00 - 14:00</div>
        <div>14:00 - 16:00</div>
    </div>
    <div class="content">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="weekend"></div>
        <div class="weekend"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="weekend"></div>
        <div class="weekend"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="weekend"></div>
        <div class="weekend"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="weekend"></div>
        <div class="weekend"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="weekend"></div>
        <div class="weekend"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="weekend"></div>
        <div class="weekend"></div>
    </div>
</div>