/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

$accent-base: #8eeec0;
$cutty-sark: #546E7A;
$porcelain: #ECEFF1;
$accents: (
  pink: adjust-hue($accent-base, -180%),
  orange: adjust-hue($accent-base, -120%),
  green: adjust-hue($accent-base, -60%),
  cyan: $accent-base,
  blue: adjust-hue($accent-base, 60%),
  purple: adjust-hue($accent-base, 120%),
);

@function make-gradient($color) {
    @return linear-gradient(135deg, $color, adjust-hue($color, 40%));
}

@mixin make-tiles {
    @each $name, $value in $accents {
        .accent-# {
            $name
        }

        -gradient {
            display: flex;
            width: 100%;
            height: 100%;
            background: make-gradient($value);
            transition: .2s ease box-shadow, .2s ease transform;
            &:hover

{
    box-shadow: 0 20px 30px 0 transparentize($value, 0.7);
    transform: scale(1.05);
}

}
}
}

html, body {
    margin: 0;
    font-family: 'Karla';
    color: $cutty-sark;
}

* {
    box-sizing: border-box;
}

.timetable {
    @include make-tiles;
    display: grid;
    grid-template-areas: ". week"
        "time content";
    grid-template-columns: 120px;
    grid-template-rows: 60px;
    width: 100vw;
    height: 100vh;
    .weekend

{
    background: lighten($porcelain, 5%);
    color: lighten($cutty-sark, 20%);
}

.week-names {
    grid-area: week;
    display: grid;
    // 7 days a week grid-template-columns: repeat(7, 1fr);
    text-transform: uppercase;
    font-size: 12px;
    & > div

{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 1px 0 0 $porcelain;
}

}

.time-interval {
    grid-area: time;
    display: grid;
    // 6 time intervals grid-template-rows: repeat(6, 1fr);
    font-size: 14px;
    & > div

{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 1px 0 0 $porcelain;
}

}

.content {
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
    & > div

{
    box-shadow: inset 1px 0 0 $porcelain, inset 0 1px 0 0 $porcelain;
}

}
}